body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% of the viewport height */
  margin: 0; /* Remove default margin */
  background: linear-gradient(220.55deg, #565656 0%, #181818 100%);
}
span {
  font-size: xx-small;
}

#counter-text,
#count {
  color: #f0f0f0;
  font-size: xx-large;
  padding-bottom: 1rem;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95vw; /* Slightly less than full viewport width */
  max-width: 430px; /* Max width for very small screens */
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 2px 0; /* Reduced margin between rows */
}

.character {
  margin: 1px;
  flex-grow: 1;
  min-width: 25px; /* Slightly narrower buttons for small screens */
  padding: 8px 4px; /* Reduced padding */
  font-size: 14px; /* Adjust font size if necessary */
}

/* Specific adjustments for larger keys */
#space {
  flex: 0 0 46%; /* Adjusted for spacebar */
}
#shift,
#shiftRight,
#enter,
#backspace {
  flex: 0 0 12%; /* Adjusted for shift, enter, backspace keys */
}
#ctrl,
#alt,
#altGr,
#ctrlRight {
  flex: 0 0 7%; /* Adjusted for control and alt keys */
}

/* Styles for function keys and numeric keypad */
.row-function-keys .character,
.row-numeric-keypad .character {
  flex: 1 1 auto;
}

/* Media queries for responsiveness */
@media (min-width: 1000px) {
  .keyboard {
    max-width: 1600px; /* Increased max width for medium screens */
  }
  .character {
    padding: 20px 10px; /* Increased padding for larger buttons */
  }
}

/* Styles for very large screens */
@media (min-width: 2500px) {
  .keyboard {
    max-width: 2000px; /* Even larger max width for very large screens */
  }
  .character {
    padding: 40px 20px; /* Even larger padding for buttons */
  }
}
/* Keyframes and .character.clicked as before */
@keyframes colorfulClick {
  0% {
    background-color: initial;
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    background-color: #34eb89; /* Example vibrant color */
    transform: scale(2);
    box-shadow: 0 0px 50px #34eb89;
  }
  100% {
    background-color: initial;
    transform: scale(1);
    box-shadow: none;
  }
}

.character.clicked {
  animation: colorfulClick 0.4s ease;
}
